body {
  background: #ffffff;
  background-size: cover;
  min-width: 320px;
}

.visually-hidden {
  display: none;
}

.button {
  border: #ffffff solid 4px;
  border-radius: 25px;
  background-color: #1e2631;
  color: #ffffff;
}


@media (min-width: @tablet-width) {
  body {
    background: #ffffff;
    background-size: cover;
    min-width: 660px;
  }
}


@media (min-width: @desktop-width) {
  body {
    background: #ffffff;
    background-size: 1178px auto;
    min-width: 1178px;
  }
}
