.page-header {
display: flex;
flex-direction: column;
}

.page-header__logo {
  height: 70px;
}

@media (min-width: @tablet-width) {

}


@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 114px;
  }
}
